.page {
        /* display: flex;
        justify-content: space-between; */
        align-items: right;
        background-color: #C5D5E4;
        color: #66768F;
        padding: 1rem;
        height: 100vh;
      }
      .body {
        column-count: 2;
        column-gap: 30px;
      }
      img {
        max-width: 100%;
        height: auto;
      }