.map-content {
        max-width: 50%;
        height: auto;
        margin: auto;
        border: 15px solid #6b93d6;
        border-radius: 25px;
        background-color: #6b93d6;
}
svg {
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
      }

body {
        margin: 0;
      }